<div class="game-container">

  <div class="character-information">
    <div class="hero-section">
      <h2>{{ hero?.HeroName }}</h2>
      <p>Sağlık: {{ hero?.HeroHealth }}</p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [style.width]="(hero?.HeroHealth / hero?.MaxHealth) * 100 + '%'" [attr.aria-valuenow]="hero?.HeroHealth"  aria-valuemin="0" aria-valuemax="hero?.MaxHealth"></div>
      </div>
      <div class="action-buttons">
        <button type="button" class="btn btn-danger" (click)="heroAttack()">Saldır</button>
        <button type="button" class="btn btn-warning" (click)="defend()">Defans</button>
        <button type="button" class="btn btn-success" (click)="heroHeal()" [disabled]="isHealButtonDisabled">Pot</button>
      </div>
      <div class="logText" [innerHTML] = "heroActionLog">
      </div>
    </div>
  
    <div class="enemy-section">
      <h2>{{ enemy?.EnemyName }}</h2>
      <p>Sağlık: {{ enemy?.EnemyHealth }}</p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar"  [style.width]="(enemy?.EnemyHealth / enemy?.EnemyMaxHealth) * 100 + '%'" [attr.aria-valuenow]="enemy?.EnemyHealth" aria-valuemin="0" aria-valuemax="enemy?.EnemyMaxHealth"></div>
      </div>
      <div>
        <div class="logText marginTop" [innerHTML] = "enemyActionLog">
        </div>
      </div>
    </div>
  </div>
  
  <div class="character-avatars">
    <div class="img-container">
      <img [src] = "hero?.HeroImagePath" class="char-img">
    </div>

    <div class="img-container">
      <img [src] = "enemy?.EnemyImagePath" class="char-img">
    </div>
  </div>
</div>
